@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*   
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body
{
    min-height: 1000px;
    background: #000;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}
header .Logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
}
header ul  li
{
    position: relative;
    list-style: none;  
}
header ul li a 
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(fondoPinamar.jpg);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#cuanto
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(corazon.gif);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#orgulloso
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(ferYyo.jpg);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#porQueTeAmo
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(fer1.jpg);
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}
header .sticky
{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
header .sticky .Logo,
header .sticky ul li a 
{
    color: #000;
}
.banner h2
{
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.banner h2 span
{
    color: palevioletred;
}
.sec
{
    background: dodgerblue;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body section div p span
{
    color:lightsalmon;
}
.mxw800p
{
    max-width: 800px;
    margin: 0 auto;

}